<!DOCTYPE html>
<html>
<head>
  <title>MDB</title>
  <script src="https://unpkg.com/vue"></script>
  <link rel="stylesheet" href="main.css">
</head>
<body>
  <div id="app">
    <div class="container">
      <div class="container__buttons">
        <button @click="addTask" class="button button--add">
          Add
        </button>
        <button v-if="taskList.length" @click="removeTask" class="button button--remove">
          Remove
        </button>
        <button v-if="taskList.length"  @click="clearTasks" class=" button button--clear">
          Clear
        </button>
      </div>
      <transition-group name="task" tag="ul" class="tasks">
        <li v-for="(task, index) in taskList" :key="index" class="task">
          {{ task }} {{ index }}
        </li>
    </transition-group>
    </div>
  </div>
  <script>
    var app = new Vue({
      el: '#app',
      data: {
        taskList: [],
        taskName: 'Task number'
      },
      methods: {
        addTask(){
         this.taskList.push(this.taskName);
        },
        removeTask(){
          this.taskList.pop();
        },
        clearTasks(){
          this.taskList = [];
        },
        
      }
    })
  </script>
</body>
</html>
